.btn {
    padding: 1em 2em;
    border-radius: 1em;
}
.btn-sm {
    padding: .5em 1em;
    border-radius: .5em;
    font-size: .5;
}
.btn-primary {
    background-color: $primary;
    color: $white;
}

.btn-secondary {
    background-color: $secondary;
    color: $white;
}


// @mixin larger($size) {
//     font-size: $size;
//     padding: 1em 2em;
//     border-radius: 1em;
//     transform: translateX(-.6em) translateY(-.6em);
// }
.btn-primary:active {
    background-color: darken($primary, 10%);
    // @include larger(.9em);
}
.btn-secondary:active {
    background-color: darken($secondary, 10%);
    // @include larger(.9em);
}