

nav {
    background-color: $primary;
    padding: 1em;
    margin-bottom: 1em;
    display: flex;
    justify-content: space-between;
    ul {
        list-style: none;
        display: inline-flex;
        li {
            margin-right: 1em;
            a {
                color: $white;
                text-decoration: none;
            }
        }
    }
    button {
        display: none;
    }
}

@media(max-width: 800px) {
    nav{
        button {
            display: block;
            margin-left: auto;
        }
        ul {
            display: none;
        }
    };

    nav.open{
        ul {
            display: block;
        }
    }
  
}