// main
$primary: rgb(165, 25, 165);
$secondary: rgb(255, 174, 0);

// status colors
$success: green; // 
$danger: red;
$warning: yellow;
$info: blue;

// grays
$light: #f8f9fa;
$dark: #343a40;

// usual colors
$white: white;
$black: black;