/* :root {
    --primary: lime;
}

li {
   border: 1px solid black;
    margin: 4px;
}

li:nth-of-type(2){
    background-color: lime;
    margin: 4px;
}


li:hover {
    background-color: red;
}

input:focus {
    background-color: yellow;
}

input:checked {
    accent-color: var(--primary);
    outline-color: black;
    font-size: 50px !important;
    transform: scale(4);

}
input:disabled {
    background-color: #9d3039;
}

li:only-child {
    background-color: #9d3039;
}

li:not(.middle) {
    background-color: #329d30;
}

ul:has(li:only-child){
    background-color: #9d3039;
}

/* class .middle */
/* id #middle */
/* attribute [type="text"] */
/* [type="text"] {
    background-color: #9d3039;
} */

/* li */

/* ul {
    list-style: none;
}

ul:first-child  li > *::after{
    content: "$";
    position: relative;
 
    font-weight: bolder;
    color: red;
}

li::first-line {
    color: red;
    font-size: 50px;
}

form:has(input:checked) input:nth-of-type(3) {
    background-color: #30759d;
}  */

h1 span {
    color: red;
}